body{
    background: lightpink;
    text-align:center;
    
}

h1{
    color: rgb(121, 58, 17);


}

h4{
 color: rgb(128, 56, 8);
}

p{
   color: rgb(143, 85, 47); 
}

img{
    border:3px dashed rgb(23, 175, 82);
}